html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
#footer {
  position:absolute ;
  left: 0px;
  right:0px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here  */
  height: 300px;
  background: 
  /* color overlay   */ 
    linear-gradient(
      rgba(255,255,240,52), 
      rgba(0, 0, 0, 0.45)
    ),
    /* image to overlay */
    url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
}








.first{
color:#22ddff;
background-color:red;



}


.second{
color:#561232;
background-color:blue;
}



.third{
color:#632145;
background-color:black;

}


.navbar-default {
    background-color: #312e29;
    
	color : white;
}

.navbar-default li a span{
    color: blue;
}

.navbar .nav > li > a {
  line-height: 55px;
}

.container {
    width: 984px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}


